.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 3, 3, .6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}