#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
}

#todoForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-items: center;
}

.wapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-items: center;
}

#btnSubmit {
  align-self:flex-end;
  margin-left: 16px;
}

.appName {
  margin: 0;
  line-height: 2.4rem;
}
