:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:yellowgreen;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: darkgrey;
}
button:focus,
button:focus-visible {
  outline: 4px auto darkgrey;
}

label {
  display: flex;
}
label > span {
  display: inline-block;
  width: 100px;
  text-align: right;
}

label > input {
  width: 150px;
}